.content {
  margin-top: 50px;
  max-width: 1050px;
}

.content-container {
  margin: 0 auto;
}

.content-items {
  display: grid;
  grid-template-columns: 210px 210px 210px 210px 210px;
}

.product-item {
  text-decoration: none;
  color: black;
  font-size: 12px;
  text-align: center;
  margin: 10px;
  padding: 10px;
 border: 1px solid #ccc;
 letter-spacing: 0.3px;
 transition: transform .2s;
 border-radius: 4px;
}

.product-item:hover {
  transform: scale(1.08);
  border: 2px solid #EEDD82
}

.content-text {
  text-align: center;
  margin: 20px 0;
  color: #FF3030;
}

.product-img {
  width: 160px;
  height: 130px;
}

.content-product {
  margin-bottom: 14px;
}

.btn-product {
  font-size: 12px;
  margin-top: 14px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #EEDD82;
  cursor: pointer;
}

.btn-product:hover {
  /* background-color: #EEDD82; */
  color: #FF3030;
  font-weight: bold;
}