.sub-nav {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 8px;
}

.sub-nav-items {
  text-decoration: none;
  text-align: center; 
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  color: #000;
  transition: transform .2s;
}

.sub-nav-items:hover {
  transform: scale(1.08);
  box-shadow: 1px 1px 2px 1px #ccc;
  border-radius: 8px;
}

.sub-nav-text {
  padding-bottom: 20px;
}

.sub-nav-img {
  width: 200px;
  height: 160px;
  margin-bottom: 16px;
}